MS_DEPLOY_ENV=""
MS_ENV=""
MS_SENDER_EMAIL=""
MS_SENDER_ARN=""
MS_FILE_STORAGE=""
MS_API_HOST=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""
AWS_UPLOAD_BUCKET_NAME=""
AWS_STS_ROLE_ARN=""
AWS_PAGE_TRACKING_TTL=""
CALENDLY_ORG_ID=""
CALENDLY_EVENT_TYPE_SLUG=""
CALENDLY_TOKEN=""
AWS_SEND_EMAIL_LAMBDA_ARN=""
AWS_EVENT_BRIDGE_ROLE_ARN=""
JWT_SECRET=""
INTRANET_REPORT_TIMEZONE=""
